# Core functionality - changes here should be rare!
/src/app.py                   @dbrockwell
/src/backend/database.py      @dbrockwell
/src/backend/routers/auth.py  @dbrockwell

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dbrockwell
